.authorization-block {
  max-width: 510px;
  width: 100%;
  margin: 0 auto;
  &__logo {
    max-width: 50px;
    padding: 12px;
  }
}

.authorization {
  padding: 30px;
  &__heading {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 40px;
    margin-bottom: 20px;
  }
  &__new-account {
    padding-bottom: 18px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
  &__text {
    font-weight: bold;
    font-size: 20px;
    display: block;
  }
  &__footer {
    color: rgba(36, 28, 21, 0.65);
  }
}

@media (max-width: 1100px) {
  .authorization-block {
  }
}
